.about {
  color: var(--font-base);
  @include text--regular;
  padding: 20px 0;
  background-image: url("/img/about-background-tablet@x1.png");
  background-repeat: no-repeat;
  background-position: -64px -45px;
  background-size: 621px auto;
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .about {
    background-image: url("/img/about-background-tablet@x2.png");
    background-repeat: no-repeat;
    background-position: -64px -45px;
    background-size: 621px auto;
  }
}

.about__title {
  position: relative;
  min-height: 55px;
}

.about__title h3 {
  margin-top: 16px;
}

.about__title p {
  top: 3px;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 25.5px;
  margin-top: 400px;
}

.about__container ul {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0;
  padding: 0;
}

.about__container li {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.about__container li p {
  margin: 0;
  @include text--regular;
}

.about__container h5 {
  @include titel-h5;
}

@media screen and (width >= 768px) {
  .about {
    padding: 42px 0;
    background-image: url("/img/about-background-tablet@x1.png");
    background-repeat: no-repeat;
    background-position: 0 175px;
    background-size: 541px auto;
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .about {
      background-image: url("/img/about-background-tablet@x2.png");
      background-repeat: no-repeat;
      background-position: 0 175px;
      background-size: 541px auto;
    }
  }

  .about__title {
    justify-content: center;
  }

  .about__title h3 {
    margin-top: 18px;
  }

  .about__container {
    gap: 36px;
    width: 270px;
    margin: 0 0 0 450px;
  }

  .about__container ul {
    gap: 29px;
  }

  .about__container li {
    gap: 11px;
  }
}

@media screen and (width >= 1440px) {
  .about {
    padding: 100px 0 178px;
    background-image: url("/img/about-background@x1.png");
    background-repeat: no-repeat;
    background-position: 0 102px;
    background-size: 660px auto;
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .about {
      background-image: url("/img/about-background@x2.png");
      background-repeat: no-repeat;
      background-position: 0 102px;
      background-size: 660px auto;
    }
  }

  .about__title p {
    top: 6px;
  }

  .about__title h3 {
    margin-top: 39px;
    line-height: 47px;
  }

  .about__container {
    gap: 53px;
    width: 585px;
    margin-left: 660px;
  }

  .about__container li:nth-child(1) {
    width: 570px;
  }
  .about__container li {
    gap: 16px;
  }

  .about__container li p {
    margin: 0;
    @include text--small;
  }
}
