.adv {
  box-sizing: border-box;
  padding: 20px 0;
  width: 320px;
  margin: 0 auto;
}

.adv__title {
  position: relative;
  min-height: 55px;
  text-align: center;
  color: var(--font-base);
}

.adv__title h3 {
  margin: 16px 17px;
}

.adv__title p {
  top: -13px;
}

.adv__button {
  display: none;
}

.adv__button-prev,
.adv__button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;

  svg {
    width: 13px;
    height: 10px;
  }
}

.adv__button-next {
  transform: rotate(180deg);
}

.slide__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  border: 1px solid var(--icon-additional);
  --icon-background: var(--icon-additional);
}

.adv__swiper {
  width: 290px;
  margin-top: 4px;
}

.adv__swiper .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.adv__swiper .swiper-slide {
  box-sizing: border-box;
  width: 290px;
  min-height: 239px;
  padding: 19px 9px;
  border: 1px solid var(--border-opacity);
  background-color: var(--background-base);
}

.adv__swiper .slide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.adv__swiper .slide__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
color: var(--font-base);

  :first-child {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
  }

  :last-child {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}

.adv__swiper p {
  margin: 0;
}

.adv .nowrap {
  white-space: nowrap;
}

.slide-gently .slide__description {
  p:first-child {
    width: 178px;
  }
}

@media screen and (width >= 768px) {
  .adv {
    position: relative;
    padding: 40px 0;
    width: 768px;
  }

  .adv::after {
    position: absolute;
    content: "";
    width: 768px;
    height: 996px;
    top: 166px;
    right: 0;
    background-image: url("/img/adv-tablet@x1.png");
    background-size: cover;
    z-index: 0;
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .adv::after {
      position: absolute;
      content: "";
      width: 768px;
      height: 996px;
      top: 0;
      right: 0;
      background-image: url("/img/adv-tablet@x2.png");
      background-size: cover;
      z-index: 0;
    }
  }

  .adv__title h3 {
    margin: 20px 10px;
  }

  .adv__title p {
    top: -15px;
  }

  .slide__icon {
    width: 48px;
    height: 48px;
  }

  .adv__swiper {
    width: 678px;
    margin-top: 30px;
  }

  .adv__swiper .swiper-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .adv__swiper .swiper-slide {
    width: 324px;
    min-height: 340px;
    padding: 29px 19px;
  }

  .adv__swiper .slide__container {
    gap: 25px;
  }

  .adv__swiper .slide__description {
    :first-child {
      font-size: 16px;
    }

    :last-child {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .slide-gently .slide__description {
    p:first-child {
      width: 200px;
    }
  }
}

@media screen and (width >= 1440px) {
  .adv {
    padding: 100px 0;
    width: 1440px;
  }

  .adv::after {
    position: absolute;
    content: "";
    width: 1440px;
    height: 447px;
    top: -292px;
    left: 0;
    background-image: url("/img/adv-desktop@x1.png");
    background-size: cover;
    z-index: 0;
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .adv::after {
      position: absolute;
      content: "";
      width: 1440px;
      height: 447px;
      top: -292px;
      left: 0;
      background-image: url("/img/adv-desktop@x2.png");
      background-size: cover;
      z-index: 0;
    }
  }

  .adv__title h3 {
    margin: 3px 10px 0;
  }

  .adv__title p {
    top: 3px;
  }

  .adv__button {
    display: flex;
    width: 1200px;
    justify-content: center;
    gap: 4px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .adv__button-prev,
  .adv__button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 35px;

    svg {
      width: 13px;
      height: 10px;
    }
  }

  .adv__button-next {
    transform: rotate(180deg);
  }

  .slide__icon {
    width: 54px;
    height: 54px;
  }

  .adv__swiper {
    width: 1440px;
    margin-top: 17px;
  }

  .adv__swiper .swiper-wrapper {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 220px;
  }

  .adv__swiper .swiper-slide {
    width: 380px;
    min-height: 329px;
    padding: 39px 19px;
  }

  .adv .nowrap {
    white-space: wrap;
  }
  .adv__swiper .slide__container {
    gap: 30px;
  }

  .adv__swiper .slide__description {
    p:first-child {
      font-size: 18px;
    }

    p:last-child {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .slide-gently .slide__description {
    p:first-child {
      width: auto;
    }
  }
}
