header {
  background-color: var(--background-additional);
  padding: 15px 0;
  //   left: 0;
  //   right: 0;
  //   position: absolute;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
  svg {
    width: 142px;
    height: 42px;
  }
  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: var(--dark-background);
  }
}

@media screen and (min-width: 768px) {
  header {
    background-color: var(--background-additional);
    padding: 20px 0 18px;
    //   left: 0;
    //   right: 0;
    //   position: absolute;
  }

  .header__container {
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 242px;
  }

  .header__content {
    display: flex;
    align-items: center;
    gap: 128px;
    flex-direction: row;
    svg {
      width: 142px;
      height: 42px;
    }
    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 1;
      //   color: var(--dark-background);
    }
  }
}

@media screen and (min-width: 1440px) {
  header {
    background-color: var(--background-additional);
    padding: 42px 0 39px;
    //   left: 0;
    //   right: 0;
    //   position: absolute;
  }

  .header__container {
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 0;
  }

  .header__content {
    width: 1200px;
    /* display: flex
; */
    /* align-items: center; */
    gap: 0;
    /* flex-direction: row; */
    justify-content: space-between;
    margin-left: 32px;
    svg {
      width: 142px;
      height: 42px;
    }
    a {
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
      //   color: var(--dark-background);
    }
  }
}
