.header {
  background-color: var(--background-additional);
  padding: 15px 0 12.5px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
  margin: 0 0 0 163px;
  padding: 0;
  z-index: 3;

  svg {
    width: 142px;
    height: 42px;
  }
}

.header__content a {
  font-size: 18px;
  @include titel-h6;
  color: var(--dark-background);
}

@media screen and (width >= 768px) {
  .header {
    padding: 20px 0 17px;
  }

  .header__container {
    justify-content: normal;
    align-items: center;
    gap: 242px;
    position: relative;
  }

  .header__content {
    align-items: center;
    gap: 129px;
    flex-direction: row;
    margin: 0 0 0 313px;
  }

  .header__content a {
    font-size: 15px;
    letter-spacing: 0.038em;
  }
}

@media screen and (width >= 1440px) {
  .header {
    padding: 42px 120px 39px;
  }

  .header__container {
    gap: 0;
  }

  .header__content {
    width: 1200px;
    gap: 0;
    justify-content: space-between;
    margin-left: 32px;
    margin: 0px 0 0 32px;
  }

  .header__content a {
    display: block;
    width: 157px;
    font-size: 18px;
  }
}
