.hero .hero__swiper {
  position: relative;
}

.hero .swiper-wrapper {
  width: 320px;
}

.hero .swiper-slide {
  width: 320px;
  min-height: 568px;
}

.hero__swiper .slide__details {
  display: none;
  margin: 0;
  padding: 0;
}

.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  bottom: 40px;
  width: 100%;
  height: 16px;
  text-align: center;
  z-index: 6;
}

.swiper-pagination-bullet {
  display: block;
  border-radius: 50px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--background-base);
}

.swiper-pagination-bullet:hover {
  background-color: var(--bullet-hover);
  border: 1px solid var(--background-base);
}

.swiper-pagination-bullet:active {
  background-color: var(--bulet-active);
  border: 1px solid var(--background-base);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--background-base);
}

.swiper-slide-container {
  width: 288px;
  margin: 0 auto;
  color: var(--dark-background);
  text-align: center;
}

.swiper-slide-container h2 {
  @include title-h2;
}

.swiper-slide-container p {
  margin: 15px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.swiper-slide-container a {
  margin-top: 60px;
  margin-bottom: 134px;
  @include buttons-regular;
}

.slide--caucasus {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      112.1deg,
      rgba(15, 20, 41, 0.33) 17.23%,
      rgba(15, 20, 41, 0) 94.93%
    ),
    url("/img/caucasus-mobile@x1.jpg");
}

.slide--caucasus h2 {
  margin-top: 145px;
  margin-bottom: 0;
}

.slide--kamchatka {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      112.1deg,
      rgba(15, 20, 41, 0.33) 17.23%,
      rgba(15, 20, 41, 0) 94.93%
    ),
    url("/img/kamchatka-mobile@x1.jpg");
}

.slide--kamchatka h2 {
  margin-top: 135px;
  margin-bottom: 0;
}

.slide--altai {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      112.1deg,
      rgba(15, 20, 41, 0.33) 17.23%,
      rgba(15, 20, 41, 0) 94.93%
    ),
    url("/img/altai-mobile@x1.jpg");
}

.slide--altai h2 {
  margin-top: 122px;
  margin-bottom: 0;
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .slide--caucasus {
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/caucasus-mobile@x2.jpg");
  }

  .slide--kamchatka {
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/kamchatka-mobile@x2.jpg");
  }

  .slide--altai {
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/altai-mobile@x2.jpg");
  }
}

@media screen and (width >= 768px) {
  .hero .swiper-wrapper {
    width: 768px;
  }

  .hero .swiper-slide {
    width: 768px;
    min-height: 1034px;
  }
  .swiper-pagination {
    height: 20px;
  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }

  .swiper-slide-container {
    width: 678px;
  }

  .swiper-slide-container h2 {
    @include title-h1;
    margin-top: 342px;
  }

  .swiper-slide-container p {
    width: 500px;
    margin: 0 auto;
    padding: 15px 0 0;
    font-size: 17px;
    line-height: 24px;
  }

  .swiper-slide-container a {
    margin-top: 35px;
  }

  .slide--kamchatka {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/kamchatka-tablet@x1.jpg");
  }
  .slide--kamchatka h2 {
    margin-top: 137px;
  }

  .slide--caucasus {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/caucasus-tablet@x1.jpg");
  }

  .slide--altai {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/altai-tablet@x1.jpg");
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .slide--caucasus {
      background-image: linear-gradient(
          112.1deg,
          rgba(15, 20, 41, 0.33) 17.23%,
          rgba(15, 20, 41, 0) 94.93%
        ),
        url("/img/caucasus-tablet@x2.jpg");
    }

    .slide--kamchatka {
      background-image: linear-gradient(
          112.1deg,
          rgba(15, 20, 41, 0.33) 17.23%,
          rgba(15, 20, 41, 0) 94.93%
        ),
        url("/img/kamchatka-tablet@x2.jpg");
    }

    .slide--altai {
      background-image: linear-gradient(
          112.1deg,
          rgba(15, 20, 41, 0.33) 17.23%,
          rgba(15, 20, 41, 0) 94.93%
        ),
        url("/img/altai-tablet@x2.jpg");
    }
  }
}

@media screen and (width >= 1440px) {
  .hero .swiper-wrapper {
    width: 1440px;
  }

  .hero .swiper-slide {
    width: 1440px;
    min-height: 520px;
    padding: 200px 0 80px;
  }

  .swiper-pagination {
    justify-content: flex-end;
    bottom: 92px;
    right: 120px;
  }

  .swiper-slide-container {
    width: 780px;
    margin: 0 120px;
    text-align: left;
  }

  .swiper-slide-container h2 {
    margin: 0;
  }

  .swiper-slide-container p {
    width: 420px;
    margin: 0;
    padding: 23px 0 0;
  }

  .swiper-slide-container a {
    margin-top: 37px;
  }

  .slide--kamchatka .swiper-slide-container,
  .slide--altai .swiper-slide-container {
    width: 925px;
  }

  .slide--kamchatka h2 {
    margin-top: 0;
  }

  .slide--altai h2 {
    margin-top: 0;
  }

  .slide--kamchatka p {
    width: 465px;
  }
  .slide--altai p {
    width: 465px;
  }

  .slide--caucasus {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/caucasus-desktop@x1.jpg");
  }

  .slide--kamchatka {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/kamchatka-desktop@x1.jpg");
  }

  .slide--altai {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        112.1deg,
        rgba(15, 20, 41, 0.33) 17.23%,
        rgba(15, 20, 41, 0) 94.93%
      ),
      url("/img/altai-desktop@x1.jpg");
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .slide--caucasus {
      background-image: linear-gradient(
          112.1deg,
          rgba(15, 20, 41, 0.33) 17.23%,
          rgba(15, 20, 41, 0) 94.93%
        ),
        url("/img/caucasus-desktop@x2.jpg");
    }

    .slide--kamchatka {
      background-image: linear-gradient(
          112.1deg,
          rgba(15, 20, 41, 0.33) 17.23%,
          rgba(15, 20, 41, 0) 94.93%
        ),
        url("/img/kamchatka-desktop@x2.jpg");
    }

    .slide--altai {
      background-image: linear-gradient(
          112.1deg,
          rgba(15, 20, 41, 0.33) 17.23%,
          rgba(15, 20, 41, 0) 94.93%
        ),
        url("/img/altai-desktop@x2.jpg");
    }
  }

  .hero__swiper .slide__details {
    display: flex;
    gap: 10px;
    color: var(--dark-background);
    @include text-xsmall;
  }

  .slide__details li {
    position: relative;
    padding: 13px 18px 13px 40px;
    border: 1px solid rgb(255, 255, 255, 0.5);
  }

  .details__length::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 16px;
    bottom: 16px;
    left: 20px;
    background-image: url("/img/sprite/moon.svg");
    background-size: cover;
  }

  .details__level::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 16px;
    bottom: 16px;
    left: 20px;
    background-image: url("/img/sprite/level.svg");
    background-size: cover;
  }
}
