@mixin title-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1;

  @media screen and (width >= 768px) {
    font-size: 56px;
  }

  @media screen and (width >= 1440px) {
    font-size: 77px;
  }
}

@mixin title-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 1;

  @media screen and (width >= 768px) {
    font-size: 40px;
  }

  @media screen and (width >= 1440px) {
    font-size: 55px;
  }
}

@mixin title-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1;

  @media screen and (width >= 768px) {
    font-size: 25px;
  }

  @media screen and (width >= 1440px) {
    font-size: 35px;
    line-height: 100px;
  }
}

@mixin titel-h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  @media screen and (width >= 768px) {
    font-size: 24px;
    line-height: 28px;
  }
}

@mixin titel-h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  @media screen and (width >= 768px) {
    font-size: 18px;
  }

  @media screen and (width >= 1440px) {
    font-size: 21px;
  }
}

@mixin titel-h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;

  @media screen and (width >= 768px) {
    font-size: 16px;
  }

  @media screen and (width >= 1440px) {
    font-size: 18px;
  }
}

@mixin title-h7 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

@mixin buttons-big {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media screen and (width >= 768px) {
    font-size: 16px;
  }
}

@mixin caption-big {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;

  @media screen and (width >= 768px) {
    font-size: 13px;
  }
}

@mixin caption-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
}

@mixin caption-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

@mixin text-xsmall {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  @media screen and (width >= 768px) {
    font-size: 12px;
    line-height: 18px;
  }

  @media screen and (width >= 1440px) {
    line-height: 16px;
  }
}

@mixin buttons-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}
