.reviews {
  padding: 20px 0 0;
  color: var(--font-base);
}

.reviews__title {
  position: relative;
  min-height: 55px;
}

.reviews__title h3 {
  padding-top: 16px;
}

.reviews__title p {
  top: 3px;
}

.reviews .reviews__swiper {
  padding: 15px 15px 0 15px;
  margin: 0 auto;
  width: 290px;
}

.reviews__swiper .swiper-slide {
  box-shadow: 0 0 20px 0 var(--shadow);
  box-sizing: border-box;
  min-height: 484px;
  padding: 20px;
  background-color: var(--background-base);
}

.reviews__swiper .slide__container {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviews__swiper .slide__container div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviews__swiper .slide__container .slide__name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1;
}

.reviews__swiper .slide__name p {
  margin: 0;
}

.slide__name p:first-child {
  font-weight: 700;
  @include caption-big;
  font-size: 12px;
}

.reviews__swiper ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.reviews__button {
  display: none;
}

@media screen and (width >= 768px) {
  .reviews {
    padding: 40px 0 15px;
    position: relative;
  }

  .reviews__title h3 {
    padding-top: 20px;
  }

  .reviews__title p {
    top: 5px;
  }

  .reviews .reviews__swiper {
    padding: 25px 45px;
    margin: 0;
    width: auto;
  }

  .reviews__swiper .swiper-wrapper {
    width: 100%;
  }

  .reviews__swiper .swiper-slide {
    width: 565px;
    min-height: 277px;
    padding: 20px 20px 17px;
  }

  .reviews__swiper .slide__container {
    width: 515px;
    flex-direction: row;
    gap: 30px;
  }

  .reviews__swiper .slide__container div {
    gap: 26px;
  }

  .reviews__swiper .slide__container .slide__name {
    gap: 6px;
  }

  .reviews__swiper img {
    width: 186px;
    height: 237px;
  }

  .reviews__swiper ul {
    margin-top: 3.5px;
  }

  .reviews__button {
    position: absolute;
    display: flex;
    gap: 4px;
    top: 60px;
    right: 45px;
    z-index: 3;
  }

  .reviews__button-prev,
  .reviews__button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 35px;

    svg {
      width: 13px;
      height: 10px;
    }
  }

  .reviews__button-next {
    transform: rotate(180deg);
  }
}

@media screen and (width >= 1440px) {
  .reviews {
    padding: 100px 0 49px;
  }

  .reviews__title h3 {
    padding-top: 45px;
    line-height: 1;
  }

  .reviews__title p {
    top: 6px;
  }

  .reviews .reviews__swiper {
    padding: 38px 130px;
  }

  .reviews__swiper .swiper-wrapper {
    margin-top: 0;
    width: 100%;
  }

  .reviews__swiper .swiper-slide {
    width: 700px;
    min-height: 293px;
  }

  .reviews__swiper .slide__container {
    width: 640px;
  }

  .reviews__swiper .slide__container div {
    gap: 5px;
  }

  .reviews__swiper .slide__container img {
    width: 258px;
    height: 253px;
  }

  .reviews__swiper ul {
    margin-top: -2.5px;
    font-size: 14px;
    line-height: 22px;
  }

  .reviews__button {
    top: 145px;
    right: 120px;
  }
}
