.tours {
  color: var(--font-base);
  background-color: var(--background-base);
  padding: 20px 0;
}

.tours__title {
  position: relative;
  padding: 18px 0 17px;
}
.tours__title p {
  top: 3px;
}

.tours__swiper {
  margin-top: 23px;
}

.tours__swiper .swiper-slide {
  width: 290px;
  min-height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--dark-background);
}

.tours__swiper .slide__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  margin: 30px 20px;
  overflow-wrap: break-word;
}

.tours__swiper .slide__info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  justify-content: space-between;
  @include caption-medium;
}

.tours__swiper .slide__locate {
  width: min-content;
  display: flex;
  align-items: center;
  padding: 7px 12.5px 7px 14px;
  gap: 7px;
  background-color: var(--button-base);

  svg {
    --pin-locate-background: #ffffff;
  }
}

.slide__locate p {
  margin: 0;
}
.tours__swiper .slide__length {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin: 0;
  padding: 0;

  svg {
    --sun-background: #ffffff;
  }
}

.tours__swiper .length__day,
.tours__swiper .length__night {
  display: flex;
  align-items: center;
  gap: 12px;
}

.length__day p,
.length__night p {
  margin: 0;
}

.tours__swiper h4 {
  @include titel-h4;
  font-size: 24px;
  line-height: 28px;
}

.tours__swiper .slide__line {
  width: 80px;
  height: 1px;
  background-color: var(--background-base);
  opacity: 20%;
}

.tours__swiper .slide__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.tours__swiper .slide__difficulty {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 84px;
  @include caption-light;
}

.tours__swiper .slide__stars {
  display: flex;
  gap: 1px;
}

.tours__swiper .slide__date,
.tours__swiper .slide__group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.slide__data span {
  @include caption-light;
}

.slide__date div,
.slide__group div {
  @include caption-big;
}

.slide--elbrus {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 22.3%,
      rgba(0, 0, 0, 0) 60.32%
    ),
    url("/img/elbrus-mobile@x1.webp");
}

.slide--belukha {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 22.3%,
      rgba(0, 0, 0, 0) 60.32%
    ),
    url("/img/belukha-mobile@x1.webp");
}

.slide--adygea {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 22.3%,
      rgba(0, 0, 0, 0) 60.32%
    ),
    url("/img/adygea-mobile@x1.webp");
}

.slide--urals {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 22.3%,
      rgba(0, 0, 0, 0) 60.32%
    ),
    url("/img/urals-mobile@x1.webp");
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .slide--elbrus {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/elbrus-mobile@x2.webp");
  }

  .slide--belukha {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/belukha-mobile@x2.webp");
  }

  .slide--adygea {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/adygea-mobile@x2.webp");
  }

  .slide--urals {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/urals-mobile@x2.webp");
  }
}

.tours__link {
  width: 197px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px 5px 10px 10px;
  display: flex;
  align-items: center;
  gap: 10.5px;
  letter-spacing: 0.04em;
  @include buttons-big;

  svg {
    width: 12px;
    height: 14px;
    --arrow-color: #2d383f;
  }
}

.tours__link p {
  margin: 0;
}

.tours__button {
  display: none;
}

@media screen and (width >= 768px) {
  .tours {
    padding: 40px 0;
  }

  .tours__container {
    position: relative;
  }

  .tours__title {
    padding: 20px 0 10px;
  }
  .tours__title p {
    top: 5px;
  }

  .tours__swiper {
    margin-top: 25px;
  }

  .tours__swiper .swiper-slide {
    width: 330px;
    min-height: 416px;
  }

  .tours__swiper .slide__container {
    width: 290px;
  }

  .tours__swiper h4 {
    font-size: 24px;
    line-height: 28px;
  }

  .slide--elbrus {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/elbrus-tablet@x1.png");
  }

  .slide--belukha {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/belukha-tablet@x1.png");
  }

  .slide--adygea {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/adygea-tablet@x1.png");
  }

  .slide--urals {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/urals-tablet@x1.png");
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .slide--elbrus {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/elbrus-tablet@x2.png");
    }

    .slide--belukha {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/belukha-tablet@x2.png");
    }

    .slide--adygea {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/adygea-tablet@x2.png");
    }

    .slide--urals {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/urals-tablet@x2.png");
    }
  }

  .tours__link {
    width: 221px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px 5px 10px 10px;
    display: flex;
    align-items: center;
    gap: 10.5px;
    letter-spacing: 0.04em;

    svg {
      width: 12px;
      height: 14px;
      --arrow-color: #2d383f;
    }
  }

  .tours__button {
    position: absolute;
    display: flex;
    gap: 4px;
    top: 20px;
    right: 0;
  }

  .tours__button-prev,
  .tours__button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 35px;
  }

  .tours__button-next {
    transform: rotate(180deg);
  }
}

@media screen and (width >= 1440px) {
  .tours {
    padding: 100px 0;
  }

  .tours__title {
    padding: 0;
  }
  .tours__title h3 {
    line-height: 83px;
  }
  .tours__title p {
    top: 6px;
  }

  .tours__swiper .slide__container {
    width: 340px;
  }

  .tours__swiper h4 {
    width: 300px;
  }

  .slide--elbrus {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/elbrus-desctop@x1.png");
  }

  .slide--belukha {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/belukha-desctop@x1.png");
  }

  .slide--adygea {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/adygea-desctop@x1.png");
  }

  .slide--urals {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 22.3%,
        rgba(0, 0, 0, 0) 60.32%
      ),
      url("/img/urals-desctop@x1.png");
  }

  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .slide--elbrus {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/elbrus-desctop@x2.png");
    }

    .slide--belukha {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/belukha-desctop@x2.png");
    }

    .slide--adygea {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/adygea-desctop@x2.png");
    }

    .slide--urals {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 22.3%,
          rgba(0, 0, 0, 0) 60.32%
        ),
        url("/img/urals-desctop@x2.png");
    }
  }

  .tours__link {
    margin-top: 53px;
  }
}
